.sub-field-wrapper {
    display: none;
}

.sub-field-wrapper.active{
    display: block;
}
.wrap .schedules .started{
    background: #1f9681;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}
.wrap .schedules .not-started{
    background: #d5a476;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}
.wrap .tab-content label{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.subsubsub li{
    margin: 0 10px;
}
.wrap .tab-content .field-wrap{
    margin: 2rem 0;
}

/**
Post meta settings
 */

.nevamiss-instant-share-list .success-message,
.nevamiss-instant-share-list .success-error{
    margin-left: 2rem;
}
.wrap.schedule-form form, .wrap .suggestion-form{
    background: #ffffff;
    padding: 30px;
    margin: 0 auto;
    border: solid 1px #c3c4c7;
    max-width: 1000px;
}
.wrap .suggestion-form {
    margin-top: 3rem !important;
}
.suggestion-form p {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.suggestion-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/**
Upgrade Tab styles
 */
.premium-feature-list li{
    padding: 10px 0;
}
.premium-feature-list li::before{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #1f9681;
    display: inline-block;
    margin-right: 1.5rem;
}
.premium-features-wrap{
    margin: 3rem auto;
}
.premium-features-wrap .convert-action {
    margin-top: 2rem;
}

/**
Style Network accounts
 */

.network-accounts .about-to-expire{
    background: #e3a36f;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}
.network-accounts .expired-danger{
    background: #d71c1c;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}

/** Overview post **/

.schedule-overview{
    display: flex;
    column-gap: 5px;
    padding: 15px;
}
.upcoming-overview .schedule-overview-wrap{
    margin-top: 2rem;
}
.schedule-overview-wrap ul {
    margin: 0;
}
.post-overview{
    background: #FFFFFF;
    padding: 4rem;
}
.post-overview h3 {
    font-size: 40px;
}
.post-overview .summary {
    display: flex;
    column-gap: 4rem;
}
.post-overview .summary > div {
    max-height: 500px;
    overflow-y: scroll;
}
.schedule-overview-wrap ul.wp-posts-list li {
    border: dashed 1px #0a4b78;
}
.schedule-overview-wrap li {
    padding: 10px;
    background: #ece8e8;
    margin-bottom: 1rem;
}
.schedule-overview-wrap ul.schedule-times{
    width: 300px;
}
.schedule-overview-wrap h4 i {
    font-weight: normal;
    font-size: 12px;
}